.content-height {
  height: 90vh;
}

.navbar {
  position: absolute;
  z-index: 1050;
}

.navbar-collapse {
  z-index: 1050;
}

.nav-icon {
  height: 1.05rem;
  width: 1.05rem;
}

.nav-icon-grey {
  color: rgb(50, 50, 50);
}

.nav-icon-orange {
  color: rgb(210, 170, 30);
}

.nav-icon-blue {
  color: rgb(30, 30, 210);
}

.font-size-small {
  font-size: small;
}

.font-size-smaller {
  font-size: smaller;
}