:root {
  --psi-elevated-color : darkorange;
  --psi-unhealthy-color : darkgoldenrod;
  --psi-unhealthy2-color : firebrick;
  --psi-hazardous-color : darkred;
}

.psi-warn-icon-setting {
  vertical-align: 0%;
  font-size: 1rem;
}

.psi-elevated-color {
  color: var(--psi-elevated-color);
}

.psi-unhealthy-color {
  color: var(--psi-unhealthy-color);
}

.psi-unhealthy2-color {
  color: var(--psi-unhealthy2-color);
}

.psi-hazardous-color {
  color: var(--psi-hazardous-color);
}