:root {
  --psi-elevated-color : darkorange;
  --psi-unhealthy-color : darkgoldenrod;
  --psi-unhealthy2-color : firebrick;
  --psi-hazardous-color : darkred;
}

.psi-warn-icon-setting {
  vertical-align: 0%;
  font-size: 1rem;
}

.psi-elevated-color {
  color: var(--psi-elevated-color);
}

.psi-unhealthy-color {
  color: var(--psi-unhealthy-color);
}

.psi-unhealthy2-color {
  color: var(--psi-unhealthy2-color);
}

.psi-hazardous-color {
  color: var(--psi-hazardous-color);
}

.map-marker {
  border-radius: 5px;
  opacity: 0.8;
}

.map-marker-lastelem {
  margin-bottom: 8px;
}

.map-marker-fontsize-content {
  font-size: .76rem;
}

.town-size-marker {
  width: 88px;
  font-size: small;
  background-color: ghostwhite;
}

.forecast2h-icon-frame {
  background-color: rgb(220, 235, 255);
  border-radius: 50%;
  height: 24px;
  width: 24px;
  border-width: 1px;
  border-color: rgb(150, 190, 215);
  border-style: solid;
  margin-top: 5px;
}

.forecast2h-icon {
  font-size: 1.075rem;
}

.forecast2h-margin {
  margin-left: 1.8pt;
  margin-top: -1.8pt;
}

.forecast2h-margin-1 {
  margin-left: 2.5pt;
  margin-top: -1.8pt;
}

.forecast2h-margin-2 {
  margin-left: 2.5pt;
  margin-top: -2.5pt;
}

.forecast2h-margin-3 {
  margin-left: 1.8pt;
  margin-top: -2.8pt;
}

.forecast2h-margin-4 {
  margin-left: 1.8pt;
  margin-top: -2.5pt;
}

.forecast-sun-color {
  color: rgb(200, 115, 0);
}

.forcast-sun-fill-color {
  color: rgb(255, 166, 0)
}

.forcast-moon-fill-color {
  color: rgb(128, 0, 128)
}

.forecast-cloud-color {
  color: rgb(98, 110, 116);
}

.forecast-cloud-fill-color {
  color: rgb(130, 140, 145);
}

.forecast-cloud-sun-color {
  color: rgb(115, 110, 95);
}

.forecast-cloud-moon-color {
  color: rgb(100, 95, 115);
}