:root {
  /* Black and White Scheme */
  --rainviewer-bw-start : #202020ff;
  --rainviewer-bw-ov : #2a2a2aff;
  --rainviewer-bw-lt : #343434ff;
  --rainviewer-bw-md : #3e3e3eff;
  --rainviewer-bw-hv : #484848ff;
  --rainviewer-bw-hl : #525252ff;
  --rainviewer-bw-end : #7f7f7fff;


  /* Original Scheme */
  --rainviewer-or-start : #00000000;
  --rainviewer-or-ov : #dfdfdfff;
  --rainviewer-or-lt : #58ff42ff;
  --rainviewer-or-md : #4793f9ff;
  --rainviewer-or-hv : #6153c1ff;
  --rainviewer-or-hl : #ff3f35ff;
  --rainviewer-or-end : #ffffffff;

  /* Universal Blue Scheme */
  --rainviewer-ub-start : #92887188;
  --rainviewer-ub-ov : #88ddeeff;
  --rainviewer-ub-lt : #0077aaff;
  --rainviewer-ub-md : #ffee00ff;
  --rainviewer-ub-hv : #ff7700ff;
  --rainviewer-ub-hl : #ee0000ff;
  --rainviewer-ub-end : #aa00aaff;

  /* Titan Scheme  */
  --rainviewer-tt-start: #005a00ff;
  --rainviewer-tt-ov: #087fdbff;
  --rainviewer-tt-lt: #6e0dc6ff;
  --rainviewer-tt-md: #c06487ff;
  --rainviewer-tt-hv: #fac431ff;
  --rainviewer-tt-hl: #fe9a58ff;
  --rainviewer-tt-end: #d3d3d3ff;

  /* The Weather Channel Scheme */
  --rainviewer-wc-start : #00000000;
  --rainviewer-wc-ov : #01b714ff;
  --rainviewer-wc-lt : #11651aff;
  --rainviewer-wc-md : #ffee07ff;
  --rainviewer-wc-hv : #f38b08ff;
  --rainviewer-wc-end : #b80c08ff;

  /* Meteored Scheme */
  --rainviewer-mt-start: #00000000;
  --rainviewer-mt-ov: #3ffefcff;
  --rainviewer-mt-lt: #0000f3ff;
  --rainviewer-mt-md: #32c23dff;
  --rainviewer-mt-hv: #ffff50ff;
  --rainviewer-mt-hl: #df5e0bff;
  --rainviewer-mt-end: #502a68ff;

  /*NEXRAD Level III Scheme */
  --rainviewer-nr-start: #04e9e7ff;
  --rainviewer-nr-ov: #009cf7ff;
  --rainviewer-nr-lt: #00ff00ff;
  --rainviewer-nr-md: #087305ff;
  --rainviewer-nr-hv: #ecce00ff;
  --rainviewer-nr-hl: #ff0000ff;
  --rainviewer-nr-end: #ffffffff;

  /* Rainbow @ Selex SI Scheme */
  --rainviewer-rs-start : #00000000;
  --rainviewer-rs-ov : #009f9fff;
  --rainviewer-rs-lt : #00d319ff;
  --rainviewer-rs-md : #fffd1bff;
  --rainviewer-rs-hv : #ffab00ff;
  --rainviewer-rs-hl : #f01002ff;
  --rainviewer-rs-end : #ffaaffff;

  /* Dark Sky */
  --rainviewer-ds-start: #005eb611;
  --rainviewer-ds-ov: #005eb639;
  --rainviewer-ds-lt: #005eb699;
  --rainviewer-ds-md: #a44c92ff;
  --rainviewer-ds-hv: #ffb76eff;
  --rainviewer-ds-hl: #fffd05ff;
  --rainviewer-ds-end: #fffd05ff;
}

.rainviewerBw {
  background-image: linear-gradient(to bottom,
   var(--rainviewer-bw-start),
   var(--rainviewer-bw-ov),
   var(--rainviewer-bw-lt),
   var(--rainviewer-bw-md),
   var(--rainviewer-bw-hv),
   var(--rainviewer-bw-hl),
   var(--rainviewer-bw-end))
}

.rainviewerOr {
  background-image: linear-gradient(to bottom,
   var(--rainviewer-or-start),
   var(--rainviewer-or-ov),
   var(--rainviewer-or-lt),
   var(--rainviewer-or-md),
   var(--rainviewer-or-hv),
   var(--rainviewer-or-hl),
   var(--rainviewer-or-end))
}

.rainviewerUb {
  background-image: linear-gradient(to bottom,
   var(--rainviewer-ub-start),
   var(--rainviewer-ub-ov),
   var(--rainviewer-ub-lt),
   var(--rainviewer-ub-md),
   var(--rainviewer-ub-hv),
   var(--rainviewer-ub-hl),
   var(--rainviewer-ub-end))
}

.rainviewerTt {
  background-image: linear-gradient(to bottom,
   var(--rainviewer-tt-start),
   var(--rainviewer-tt-ov),
   var(--rainviewer-tt-lt),
   var(--rainviewer-tt-md),
   var(--rainviewer-tt-hv),
   var(--rainviewer-tt-hl),
   var(--rainviewer-tt-end))
}

.rainviewerWc {
  background-image: linear-gradient(to bottom,
   var(--rainviewer-wc-start),
   var(--rainviewer-wc-ov),
   var(--rainviewer-wc-lt),
   var(--rainviewer-wc-md),
   var(--rainviewer-wc-hv),
   var(--rainviewer-wc-hl),
   var(--rainviewer-wc-end))
}

.rainviewerMt {
  background-image: linear-gradient(to bottom,
   var(--rainviewer-mt-start),
   var(--rainviewer-mt-ov),
   var(--rainviewer-mt-lt),
   var(--rainviewer-mt-md),
   var(--rainviewer-mt-hv),
   var(--rainviewer-mt-hl),
   var(--rainviewer-mt-end))
}

.rainviewerNr {
  background-image: linear-gradient(to bottom,
   var(--rainviewer-nr-start),
   var(--rainviewer-nr-ov),
   var(--rainviewer-nr-lt),
   var(--rainviewer-nr-md),
   var(--rainviewer-nr-hv),
   var(--rainviewer-nr-hl),
   var(--rainviewer-nr-end))
}

.rainviewerRs {
  background-image: linear-gradient(to bottom,
   var(--rainviewer-rs-start),
   var(--rainviewer-rs-ov),
   var(--rainviewer-rs-lt),
   var(--rainviewer-rs-md),
   var(--rainviewer-rs-hv),
   var(--rainviewer-rs-hl),
   var(--rainviewer-rs-end))
}

.rainviewerDs {
  background-image: linear-gradient(to bottom,
   var(--rainviewer-ds-start),
   var(--rainviewer-ds-ov),
   var(--rainviewer-ds-lt),
   var(--rainviewer-ds-md),
   var(--rainviewer-ds-hv),
   var(--rainviewer-ds-hl),
   var(--rainviewer-ds-end))
}